		*{
			margin: ;
			padding: 0;
		}
		
		.menu{
			margin-top: 0 auto;
			padding: 0;
			width: 100%;
			height: 60px;
			background-color: #007bff;
			font-family: 'arial black';
		}
		.menu ul{
			list-style: none;
			position: relative;

		}
		.menu ul li{
			width: 150px;
			float: left;
		}
		.menu a{
			padding: 15px;
			display: block;
			text-decoration: none;
			text-align: center;
			background-color: #007bff;
			color:#fff;
		}
		.menu ul ul{
			position: absolute;
			visibility: hidden;
		}
		.menu ul li:hover ul{
			visibility: visible;
		}
		.menu a:hover{
			background-color: #f4f4f4;
			color: #555;
		}
		.menu ul ul li{
			float: none;
			border-bottom: solid 1px #ccc;
		}
		.menu ul ul li a{
			background-color: #007bff;
		}
		label[for="bt_menu"]{
			padding: 5px;
			background-color: #007bff;
			color: #fff;
			font-family: 'Arial';
			text-align: center;
			font-size: 30px;
			cursor: pointer;
			width: 50px;
			height: 50px;
		}
		#bt_menu{
			display: none;

		}
		label[for="bt_menu"]{
			display: none;
		}
		@media(max-width: 800px){
		
			label[for="bt_menu"]{
				display: block;
			}
			#bt_menu:checked ~ .menu{
				margin-left: 0;
			}
			.menu{
				margin-top: 5px;
				margin-left: -100%;
				transition: all .4s;
			}
			.menu ul li{
				width: 100%;
				float: none;
			}
			.menu ul ul{
				position: static;
				overflow: hidden;
				max-height: 0;
				transition: all 4s;
			}
			.menu ul li:hover ul{
				height: auto;
				max-height: 200px;
			}
		}
		.exame{
			margin-top: 5%;
			margin-left: 25%;
			margin-right: 15%;
			margin-bottom: 5%;
			position: relative;
			align-items: center;
			
		}
		.exame button{
			margin-top: 3%;
			margin-left: 375px;
			width: 200px;
		}



				
				
			
			
					
	